{% extends "base.html" %}
{% block content %}
<h2>Lịch Hẹn Của Tôi</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bác sĩ</th>
            <th>Thời gian</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {% for a in appts %}
        <tr>
            <td>{{ a.MaLH }}</td>
            <td>{{ a.bac_si.HoTen }}</td>
            <td>{{ a.NgayGio }}</td>
            <td>{{ a.TrangThai }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}